streamlit
st-gsheets-connection
gspread
pandas
weasyprint==61.2
pydyf==0.11.0
tinycss2==1.3.0
cssselect2==0.7.0
html5lib==1.1
pyphen==0.14.0
fonttools==4.54.1
jinja2==3.1.4
xhtml2pdf==0.2.15